$main-font: 'Assistant',
sans-serif;
$h-font: 'Playfair Display',
serif;
$primary-color: #FF9E53;
$secondary-color: #071C4D;
$shadow-color: #051334;
$etc-color: #6E6E6E;

// Main
body {
    background-color: #fff;
    font-family: $main-font;
    color: $secondary-color;
}


// NavBar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $secondary-color;

            &.active {
                font-weight: bold;
                color: $secondary-color !important;
            }
        }
    }
}

// CTA
.btn-login {
    background-color: $secondary-color;
    color: #fff;

    &:hover {
        background-color: #0f2f7a;
        color: #fff;
    }
}

.btn-navbar-right {
    margin-top: -8px !important;
    margin-bottom: -8px !important;
    margin-right: -26px !important;
    height: 70px;
    border-radius: 0;
}

// Hero
header {
    padding-top: 180px;
    padding-bottom: 165px;
    width: 100%;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    margin-top: -70px;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: $h-font;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: $primary-color;
        color: #fff;

        &:hover {
            background-color: #ffb074;
            color: #fff;
        }
    }
}

// Main Content
// Section Statistics
.section-statistics {
    margin-top: -50px;

    .stats-detail {
        padding: 15px 0;
        background-color: #fff;

    }

    h2 {
        font-weight: 600;
        font-size: 28px;

    }

    p {
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 0;
    }
}

// Popular Destination
.section-popular {
    min-height: 540px;
    background-color: $shadow-color;
    margin-top: -52px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,
        p {
            color: #fff;
        }

        h2 {
            font-family: $h-font;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            // margin: 14px auto 84px;
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-items {
        .card-item {
            min-height: 380px;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-top: 20px;

            .travel-country {
                font-size: 18px;
            }

            .travel-location {
                font-size: 26px;
                font-weight: 600
            }

            .travel-button {
                a.btn-travel-details {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                    background-color: $primary-color;

                    &:hover {
                        background-color: #ffb074;
                        color: #fff;
                    }
                }
            }
        }
    }

}

// Our Networks
.section-networks {
    margin: 90px 0 100px;

    .container {
        .row {
            h2 {
                font-family: $h-font !important;
                font-weight: bold;
                font-size: 40px;
            }

            p {
                margin-top: 14px;
                font-size: 18px;
            }

            img {
                width: 100%;
            }
        }
    }
}

// Testimonial
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: $h-font !important;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

}

.section-testimonial-content {
    margin-top: -290px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
        }

        p.testimonial {
            font-weight: lighter;
            font-size: 26px;
            min-height: 200px;
            color: $etc-color;
        }

        p.trip-to {
            color: #6e6e6e;
            font-size: 20px;
            font-weight: normal;
        }

        hr {
            margin: 0 -20px;
        }
    }

    .btn-get-started {
        background-color: $primary-color;
        color: #fff;

        &:hover {
            background-color: #ffb074;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
        }
    }
}

// Footer
.section-footer {

    a,
    p {
        text-decoration: none;
        color: $secondary-color;
    }

    a:hover {
        text-decoration: underline;
    }
}